<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-tab-group>
                <mat-tab label="Znajomi"> Content 1 </mat-tab>
                <mat-tab label="Ja">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1" (click)="changeOption(1)">Mogę</mat-radio-button> <br>
                        <mat-radio-button value="2" (click)="changeOption(2)">Nie mogę</mat-radio-button> <br>
                        <mat-radio-button value="3" (click)="changeOption(3)">Mogę od</mat-radio-button> <br>
                    </mat-radio-group>
                    <div *ngIf="myOption == 3">
                        <label for="sinceTime">Od:</label> <br>
                        <mat-form-field>
                            <input matInput type="time" name="sinceTime" id="sinceTime" ngModel required>
                        </mat-form-field><br>
                    </div>
                    <button class="btn btn-success" (click)="onOk()">Ok</button>
                    <button class="btn btn-danger" (click)="onClose()">Close</button>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>